/* --- Variables --- */
/* --- Mixins --- */
/* --- Definitions --- */
html, body {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-size: 14px;
  font-family: 'Circular', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  outline: 0px; }

/* --- Login page, Reset Password, Forgot Password --- */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; }

.header-wrap {
  text-align: center; }
  .header-wrap h1 {
    font-size: 54px;
    margin-bottom: 22px; }
  .header-wrap h6 {
    font-size: 16px;
    font-weight: 100; }

.login-form {
  width: 400px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 20px 37px 0 rgba(140, 140, 140, 0.2);
  background-color: #ffffff;
  border: solid 1px rgba(155, 155, 155, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; }
  .login-form .form__header {
    font-size: 14px;
    color: #1c2d41;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .login-form .form__input-wrap {
    padding: 0px 30px;
    width: 100%; }
    .login-form .form__input-wrap.forgot {
      height: auto; }
    .login-form .form__input-wrap.reset {
      margin-bottom: 10px; }
  .login-form .form__input {
    font-family: inherit;
    border-radius: 4px;
    background-color: #f5f6fa;
    border: solid 1px #979797;
    padding: 15px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 30px; }
  .login-form .form__fpw {
    text-decoration: underline;
    font-size: 13px;
    color: #000;
    text-transform: capitalize; }
  .login-form .form__btn {
    font-family: inherit;
    background-color: #1c2d41;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    border: 0;
    font-size: 15px;
    padding: 12px 40px; }
    .login-form .form__btn:hover {
      background-color: #14212f; }
      .login-form .form__btn:hover:active {
        background-color: #0d141d; }
  .login-form .form__subheader {
    opacity: 0.59;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 30px; }
    .login-form .form__subheader.reset {
      text-align: center; }

/* --- Forgot password page --- */
nav {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(153, 160, 169, 0.29);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  font-size: 18px; }
  nav hr {
    opacity: 0.17;
    border: solid 1px #979797; }
  nav .navigation__link {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #4a4a4a;
    text-decoration: none;
    height: 50px;
    transition: .2s all ease-in-out; }
    nav .navigation__link:hover {
      color: #50e3c2; }
    nav .navigation__link.active {
      background-color: #1c2d41;
      color: #fff; }
    nav .navigation__link .navigation__link-icon {
      margin-right: 20px; }
    nav .navigation__link .navigation__link-text {
      width: 55%; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
  header .header__logo {
    font-size: 32px;
    font-weight: bold;
    color: #000; }
  header .btn-signout {
    font-size: 14px;
    letter-spacing: 0.9px;
    color: #000;
    width: 131px;
    height: 50px;
    border-radius: 8px;
    border: 0;
    background-color: #f6f6f6;
    cursor: pointer; }

.create-test-link {
  text-decoration: none;
  color: #1c2d41; }

/* --- globals --- */
.hr {
  margin: 10px; }

.no-decoration {
  text-decoration: none;
  text-color: inherit; }

.card-button button {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
